<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Demo Session
    body
        h2 Demo Session
        p Session aktif dan variable var1 telah terdaftar didalamnya
         a(href="/page1") Halaman 1
         | &nbsp;
         a(href="/page2") Halaman 2
